<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าแรก - ข้อมูลนักศึกษา</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; padding: 50px; }
        .info-box { border: 1px solid #ccc; padding: 20px; display: inline-block; }
        img { max-width: 150px; height: auto; border-radius: 50%; margin-bottom: 15px; }
        .links a { margin: 0 15px; text-decoration: none; color: #007bff; font-weight: bold; }
    </style>
</head>
<body>
    <div class="info-box">
        <h1>หน้าหลัก (Home)</h1>
        
        <img src="me.jpg" > 
        
        <h2>ชื่อ: [ศิวธร วานิช]</h2>
        <p>รหัสนักศึกษา: **67XXXX1814** (2 ตัวหน้าและ 4 ตัวท้าย)</p>
        
        <hr>
        
        <h3>แหล่งข้อมูลและโปรเจกต์</h3>
        <p class="links">
            <a href="" target="_blank">GitHub Repository</a> | 
            <a href="https://hub.docker.com/repositories/muntho" target="_blank">Docker Hub Image</a>
        </p>
    </div>

    <nav style="margin-top: 30px;">
        <a href="git.html">ไปหน้า Git</a> | 
        <a href="docker_info.html">ไปหน้า Docker</a>
    </nav>
</body>
</html>